@charset "utf-8";

/*
Index page css
Name: Brandon Collins
Date: 11/21/21
filename: index_layout.css
*/


/* HTML 
*/

html {
    background-color: rgb(rgb(20, 12, 12), green, blue);
}

body {
    background-color: rgb(rgb(78, 6, 6), green, blue);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}