@charset "utf-8";

/*
    Author: Brandon Collins
    Date:12/14/21
    Required Files: finalExam.html and finalExam.css
    Description: Final exam for csc230
*/


/* HTML 
*/

html {
    background-color: black;
    color: blanchedalmond;
}

body {
    background-color: rgb(49, 7, 7);
    margin: auto;
    width: 85%;
}

body{
    display: block;
    text-align: center;
    font-family: Verdana,Tacoma,Helvetica, sans-serif;
    color: black;
   }

a {
    display: inline-block;
    color: seashell;
    padding: 15px 32px;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
   
}
a:hover {
    color: rgb(219, 243, 8);
}

nav {
    display: block;
    width: 25%;
    margin: 0px;
    padding: 0px;
    text-align: left;
    background-color: rgb(247, 203, 8);
}

header  {
    font-size: 36pt;
    margin-top: 35px;
    margin: 0px;
    padding: 15px 15px 0px 0px;
    background-color: rgb(247, 203, 8);
}

h3 {
    font-size: 24pt;
    margin: 0px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-top: 0px;
    padding-right: 0px;
    background-color: rgb(247, 203, 8);
}

h1 {
    font-family: arial;
    font-size: 22pt;
    text-align: left;
    letter-spacing: 2px;
    margin: 0px;
    padding: 15px 0px 0px 15px;
    color: rgb(14, 5, 97);
}

h3 {
    font-family: arial;
    font-size: 16pt;
    text-align: left;
    color: rgb(78, 2, 2);
}

p {
    margin: 15px;
    padding: 15px;
}

section{
    color: rgb(rgb(252, 202, 40), green, blue);
}
table {
    border: none;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 90%;
    margin-left: 30%;
}

th {
    text-align: center;
    text-transform: bold;
    color: rgb(rgb(60, 3, 87), green, blue);
}

img {
    display: block;
    margin-left: auto;
    height: 200px;
    width: 200px;
    object-fit: contain;
}