@charset "utf-8";

/*
    Author: Brandon Collins
    Date:12/14/21
    Required Files: finalExam.html and finalExam.css
    Description: Final exam for csc230
*/


/* HTML 
*/

html {
    background-color: black;
    color: blanchedalmond;
}

body {
    background-color: rgb(49, 7, 7);
    margin: auto;
    width: 85%;
}

body{
    display: block;
    text-align: center;
    font-family: Verdana,Tacoma,Helvetica, sans-serif;
    color: black;
   }

a {
    display: inline-block;
    color: seashell;
    padding: 15px 32px;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
   
}
a:hover {
    color: rgb(219, 243, 8);
}

nav {
    display: block;
    width: 300px;
    text-align: left;
    background-color: rgb(247, 203, 8);
}

h1 {
    font-size: 36pt;
    margin-top: 35px;
    margin: 0px;
    padding: 15px 15px 0px 0px;
    background-color: rgb(49, 7, 7);
}