<meta charset="utf-8" />
}
@font-face {
   font-family:Champagne;
   src: url(cac_champagne.woff)
   url(cac_champagne.ttf);
}
@font-face {
   font-family: Grunge;
   src: url(1942.woff)
   url(1942.ttf);
}
@font-face {
   font-family: Dobkin;
   src: url(DobkinPlain.woff)
   url(DobkinPlain.ttf);
}
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 1
   
   PHCT Typographic Style Sheet
   Author: Brandon Collins
   Date:   10/30/21
   
   Filename: ph_styles.css

*/


/* Structural Styles */




/* Navigation Styles */




/* Section Styles */




/* Description List Styles */

